In [15]:
sgd_mean =1633.6
print ("sgd model mean auc 95%% confidence interval", _zconfint_generic(sgd_mean, 
                                                                  ((18751.71765/34)**0.5), 
                                                                  0.05, 'two-sided'))

sgd model mean auc 95%% confidence interval (1587.571252215165, 1679.6287477848348)

In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('water.txt', delimiter='\\t')
df.head(5)

/Users/magic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [18]:
from math import sqrt

In [23]:
std =df['mortality'].std(ddof=1)/sqrt(df.mortality.count())
mean=df['mortality'].mean()
alpha=0.95
std

24.028521714278174

In [32]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic
#zet = _tconfint_generic(mean, std, df['mortality'].count()-1, 0.05, 'two-sided')
print (_tconfint_generic(mean, std, df['mortality'].count()-1, 0.05, 'two-sided'))

(1476.0833413552848, 1572.2117406119285)

In [37]:
n=df[df['location']=='South'].mortality.count()
mean=df[df['location']=='South'].mortality.mean()
print (_tconfint_generic(mean, std, n-1, 0.05, 'two-sided'))

(1320.1517462936238, 1433.463638321761)

def write_file():
    my_file=open('text.txt', 'w')
    #text_for_file='Somebody...'
    my_file.write(zet)
    my_file.close()
zz=write_file